<div class="container mt-4 p-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">productName</th>
        <th scope="col">price</th>
        <th scope="col">quantity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.productName }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <i
            class="bi bi-shield-fill-x fs-3 mx-1 text-danger"
            (click)="deleteProduct(product.id)"
          ></i>
          <i
            class="bi bi-pencil-square fs-3 mx-1 text-success"
            [routerLink]="['/products', product.id, 'edit']"
          ></i>
          <a [routerLink]="['/products', product.id]"
            ><i class="bi bi-binoculars-fill fs-3 mx-1 text-primary"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
